### Practica Tuplas, Sets y Diccionarios

### Tuplas

#### Ejercicio 1

- Crea una tupla utilizando la función range(), que tenga un rango del 11 al 19
    - Ejemplo: tupla = tuple(range(3)).

In [1]:
tupla = tuple(range(11,19+1))
print(tupla)

(11, 12, 13, 14, 15, 16, 17, 18, 19)

- Utiliza la tupla anterior y conviertela a una lista utilizando una lista vacia y llenandola con un bucle.

In [5]:
L = []
[L.append(i) for i in tupla]
print(L)

[11, 12, 13, 14, 15, 16, 17, 18, 19]

- Ordena de mayor a menor la lista anterior.

In [6]:
L.sort(reverse=True)
print(L)

[19, 18, 17, 16, 15, 14, 13, 12, 11]

- Convierte la lista anterior a tupla y ordenala de menor a mayor.

In [10]:
T= tuple(L)
T = tuple(sorted(T))
print(T)

(11, 12, 13, 14, 15, 16, 17, 18, 19)

- ¿Qué tipo de dato es el resultado de ordenar la tupla anterior?

In [ ]:
# en mi caso una tupla igual

#### Ejercicio 2

- Dada la siguiente frase = "Había una vez en una galaxia lejana", conviertela en tupla, ordenala y manten la tupla (¡Ojo!, el resultado final no debe de ser lista).

In [11]:
frase = "Había una vez en una galaxia lejana"
T = tuple(frase)
T = sorted(T)
print(T)

[' ', ' ', ' ', ' ', ' ', ' ', 'H', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'b', 'e', 'e', 'e', 'g', 'i', 'j', 'l', 'l', 'n', 'n', 'n', 'n', 'u', 'u', 'v', 'x', 'z', 'í']

- Del resultado anterior, muestra cuantas veces aparece cada vocal.
    - Utiliza un bucle **for** que recorra la siguiente tupla: ("a","e","i","o","u")

In [14]:
Vocales = ("a","e","i","o","u")

for i in Vocales:
    print(i,":", T.count(i),"veces")

a : 9 veces
e : 3 veces
i : 1 veces
o : 0 veces
u : 2 veces

#### Ejercicio 3

- Dada la siguiente tupla: (9,8,7,5,"a",3,6,5), encuentra la forma para eliminar la letra "a".

In [35]:
T2 = (9,8,7,5,"a",3,6,5)
L = list(T2)
L.remove("a")
T2 = tuple(L)
print(T2)

(9, 8, 7, 5, 3, 6, 5)

#### Ejercicio 4

- Pregunta a un usuario que ingrese 5 elementos diferentes y convierte estos elementos a una tupla, puede ser una palabra o un número.

In [37]:
T = []
for i in range(5):
    T.append(input("Escribe un elmento"))
T = tuple(T)
print(T)

('1', 'we', '4', 'fe3', '3')

#### Ejercicio 5

- Dada la siguiente lista de tuplas: [(10, 20, 40), (40, 50, 60), (70, 80, 90)], elimina el último elemento de cada tupla dentro de la lista.

In [43]:
T = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
for i in range(len(T)):
    L = list(T[i])
    L.pop()
    T[i] = L
print(T)

[[10, 20], [40, 50], [70, 80]]

### Sets

#### Ejercicio 1

- Pide al usuario que ingrese 3 empresas de tecnología, estos elementos agregalos al siguiente set: {"Facebook","Google","Apple"}

- Verifica que no se repita ninguna empresa y dile al usuario que no se repitio ninguna empresa.

In [65]:
set1 = {"Facebook","Google","Apple"}
# sc = {input(),input(),input()}
sc = {"Nothing","Huawei","Tesla"}
if sc.isdisjoint(set):
    print("No se repito ninguna empresa")
else:
    print("Se repitieron:", sc.intersection(set))

No se repito ninguna empresa

- Repite el ejercicio anterior pero ahora imprime las empresas que se repiten en caso de que existiera uno o más que se repitan

In [66]:
set1 = {"Facebook","Google","Apple"}
# sc = {input(),input(),input()}
sc = {"Facebook","Google","Tesla"}
if sc.isdisjoint(set):
    print("No se repito ninguna empresa")
else:
    print("Se repitieron:", sc.intersection(set))

Se repitieron: {'Facebook', 'Google'}

#### Ejercicio 2

- Utilizando un bucle **for** haz la función intersección de los sets entre dos listas. (Nota: debes de utilizar 2 bucles for)

In [68]:
del set
set1 = {"Facebook","Google","Apple"}
# sc = {input(),input(),input()}
sc = {"Facebook","Google","Tesla"}
inter = set()
for i in set1:
    for j in sc:
        if i == j:
            inter.add(i)
print(inter)

{'Facebook', 'Google'}

#### Ejercicio 3

- Dadas las siguientes frases = "En una galaxia lejana" y "Una galaxia llamadá Via Lactea", haz la intersección de las palabras

In [73]:
frase1 = "En una galaxia lejana"
frase2 = "Una galaxia llamadá Via Lactea"

sfrase1 = set(frase1.split())
sfrase2 = set(frase2.split())

interfr = sfrase1.intersection(sfrase2)
print(interfr)

{'galaxia'}

#### Ejercicio 4

- Utilizandp un bucle **for** encuentra la diferencia entre el set1 = {9,8,7,6,5,4,3,2} y el set2 = {9,8,10} y comprueba el resultado utilizando el método difference()

In [74]:
set1 = {9,8,7,6,5,4,3,2} 
set2 = {9,8,10}
diff = set()
repe = False

for i in set1:
    for j in set2:
        if i==j:
            repe = True
    if not repe:
        diff.add(i)
print(diff == set1.difference(set2))

True

### Diccionarios

#### Ejercicio 1

- Crea un diccionario de 5 items, preguntando al usuario nombre y edad, los nombres seran las keys y la edad los values.

In [91]:
d = {}
for i in range(3):
    nombre = input("Nombre")
    edad = int(input("Edad"))
    d[nombre]  = edad
d

{'sev': 35, 'rebr': 234, 'wv': 34}

#### Ejercicio 2

- Repite el ejercicio anterior pero de la siguiente forma:
- Primero agrega en una lista los nombres y en otra lista las edades y después crea el diccionario a partir de las listas.

In [92]:
d={}
nombres=["alex","juan","adri"]
edades=[12,34,68]
for i in range(len(nombres)):
    d[nombres[i]]=edades[i]
d

{'alex': 12, 'juan': 34, 'adri': 68}

In [2]:
d={}
nombres=["alex","juan","adri"]
edades=[12,34,68]
for i,j in zip(nombres,edades):
    d[i]=j
d

{'alex': 12, 'juan': 34, 'adri': 68}

#### Ejercicio 3

- Pide al usuario que ingrese 3 números distintos y guarda esos números como keys y crea los values utilizando la siguiente formula: x:x**2, donde x es la llave.

In [94]:
d={}
for i in range(3):
    x = int(input("Numero"))
    d[x]=x/x**2
print(d)

{2: 0.5, 3: 0.3333333333333333, 4: 0.25}

#### Ejercicio 4

- Pide al usuario que ingrese una frase y agrega las palabras como keys y la frecuencia de cada palabra como value en un diccionario. (ver el ejemplo de la presentación)

In [3]:
frase = "una frase cualquiera donde en la frase se repite la palabra cualquiera"
Lfrase = frase.split()
d = {}
for i in Lfrase:
    if i not in d:
        d[i] = Lfrase.count(i)
d

{'una': 1,
 'frase': 2,
 'cualquiera': 2,
 'donde': 1,
 'en': 1,
 'la': 2,
 'se': 1,
 'repite': 1,
 'palabra': 1}

#### Ejercicio 5

- Crea un programa donde las keys son 7 números aleatorios entre el 100 y el 200 y en los values debe de estar la palabra par o impar, si el número es par o impar.

In [6]:
import random
random.randint(5,10)

10

In [10]:
import random
d={}
ran = 0
while len(d)<7:
    ran = random.randint(100,200)
    if ran%2==0:
        d[ran]="par"
    else:
        d[ran]="impar"
d

{192: 'par',
 117: 'impar',
 100: 'par',
 148: 'par',
 142: 'par',
 153: 'impar',
 174: 'par'}

#### Ejercicio 6

- Crea un programa donde las keys son 10 números aleatorios entre el 1 y el 50 y para cada value del diccionario vamos a utilizar la siguiente formula x:1/x

In [11]:
import random
d={}
ran = 0
while len(d)<10:
    ran = random.randint(100,200)
    d[ran]= 1/ran
d

{157: 0.006369426751592357,
 109: 0.009174311926605505,
 178: 0.0056179775280898875,
 190: 0.005263157894736842,
 150: 0.006666666666666667,
 135: 0.007407407407407408,
 139: 0.007194244604316547,
 198: 0.005050505050505051,
 158: 0.006329113924050633,
 116: 0.008620689655172414}

- Del diccionario anterior invierte los keys por los values

In [24]:
print(d)
d2 = {}
for i in d:
    d2[d[i]] = i
print(d2)

{157: 0.006369426751592357, 109: 0.009174311926605505, 178: 0.0056179775280898875, 190: 0.005263157894736842, 150: 0.006666666666666667, 135: 0.007407407407407408, 139: 0.007194244604316547, 198: 0.005050505050505051, 158: 0.006329113924050633, 116: 0.008620689655172414, 0.006369426751592357: 157, 0.009174311926605505: 109}
{0.006369426751592357: 157, 0.009174311926605505: 109, 0.0056179775280898875: 178, 0.005263157894736842: 190, 0.006666666666666667: 150, 0.007407407407407408: 135, 0.007194244604316547: 139, 0.005050505050505051: 198, 0.006329113924050633: 158, 0.008620689655172414: 116, 157: 0.006369426751592357, 109: 0.009174311926605505}

#### Ejercicio 7

- Recurre al ejercicio donde el usuario ingresa 5 nombres y sus edades, y ordena el diccionario por orden alfabetico

In [28]:
d={}
nombres=["alex","juan","adri"]
edades=[12,34,68]
for i,j in zip(nombres,edades):
    d[i]=j


Ord = sorted(d)
do={}
for i in Ord:
    do[i] = d[i]
do

{'adri': 68, 'alex': 12, 'juan': 34}

#### Ejercicio 8

- Crea un programa que dados los siguientes diccionarios: d1 = {"a":125,"b":130,"c":150}, d2 = {"e": 10,"b":20,"a":30}, sume los items que tienen la misma key y guarde esas keys con la suma de los values en un nuevo diccionario

In [31]:
d1 = {"a":125,"b":130,"c":150}
d2 = {"e": 10,"b":20,"a":30}
dsuma = {}

for i in d1:
    if i not in dsuma:
        dsuma[i] = d1[i]
for j in  d2:
    if j not in dsuma:
        dsuma[j] = d2[j]
    if j in dsuma:
        dsuma[j] = dsuma[j] + d2[j]
dsuma

{'a': 155, 'b': 150, 'c': 150, 'e': 20}

In [35]:
d1 = {"a":125,"b":130,"c":150}
d2 = {"e": 10,"b":20,"a":30}
dsuma = {}

for i, j in zip(d1, d2):
    if i not in dsuma:
        dsuma[i] = d1[i]
    if j in dsuma:
        dsuma[j] = dsuma[j] + d2[j]
    else:
        dsuma[j] = d2[j]
dsuma

{'a': 155, 'e': 10, 'b': 150, 'c': 150}