In [1]:
#Bucle for

L=["Hola", "Adios", "Amir"]

In [4]:
print(L[0])
print(L[1])
print(L[2])

i=2
print(L[i], "es la posición=", i)

Hola
Adios
Amir
Amir es la posición= 2

In [11]:
L=["Hola", "Adios", "Amir"]
print ("mi lista es:", L)
for elem in L : #imprimo cada elemento en una lista
                # estoy iterando sobre elementos de una lista
                #ejecutar este trozo de código
    print(elem)

mi lista es: ['Hola', 'Adios', 'Amir']
Hola
Adios
Amir

In [13]:
for l in L :
  print(l)

Hola
Adios
Amir

In [18]:
L=["Hola", "Adios", "Amir"]
for i in range(len(L)): #Recorr por indices. El range genera una secuencia de números.
    print(L[i])                          # Genera una secuencia que va desde 0 hasta la longitud de la lista -1

Hola
Adios
Amir

In [19]:
L=["Hola", "Adios", "Amir"]
i=0
while i < len(L):
  print(L[i])
  i+=1

Hola
Adios
Amir

In [20]:
for i in range(5):
  print(i)

0
1
2
3
4

In [27]:
L=["Hola", "Adios", "Amir"]
i=1
n=len(L)
for i in range(n): # i=0,1,2
  print ("en la posición", i, "está", L[i])
i

en la posición 0 está Hola
en la posición 1 está Adios
en la posición 2 está Amir

2

In [30]:
# sumar todos los números desde 1 hasta el n
n=100
suma=0
for i in range(n+1):
  suma = suma + i
  print (i, "mi suma es: ", suma)
print ("la suma total es", suma)

0 mi suma es:  0
1 mi suma es:  1
2 mi suma es:  3
3 mi suma es:  6
4 mi suma es:  10
5 mi suma es:  15
6 mi suma es:  21
7 mi suma es:  28
8 mi suma es:  36
9 mi suma es:  45
10 mi suma es:  55
11 mi suma es:  66
12 mi suma es:  78
13 mi suma es:  91
14 mi suma es:  105
15 mi suma es:  120
16 mi suma es:  136
17 mi suma es:  153
18 mi suma es:  171
19 mi suma es:  190
20 mi suma es:  210
21 mi suma es:  231
22 mi suma es:  253
23 mi suma es:  276
24 mi suma es:  300
25 mi suma es:  325
26 mi suma es:  351
27 mi suma es:  378
28 mi suma es:  406
29 mi suma es:  435
30 mi suma es:  465
31 mi suma es:  496
32 mi suma es:  528
33 mi suma es:  561
34 mi suma es:  595
35 mi suma es:  630
36 mi suma es:  666
37 mi suma es:  703
38 mi suma es:  741
39 mi suma es:  780
40 mi suma es:  820
41 mi suma es:  861
42 mi suma es:  903
43 mi suma es:  946
44 mi suma es:  990
45 mi suma es:  1035
46 mi suma es:  1081
47 mi suma es:  1128
48 mi suma es:  1176
49 mi suma es:  1225
50 mi suma es:  1275
51 mi suma es:  1326
52 mi suma es:  1378
53 mi suma es:  1431
54 mi suma es:  1485
55 mi suma es:  1540
56 mi suma es:  1596
57 mi suma es:  1653
58 mi suma es:  1711
59 mi suma es:  1770
60 mi suma es:  1830
61 mi suma es:  1891
62 mi suma es:  1953
63 mi suma es:  2016
64 mi suma es:  2080
65 mi suma es:  2145
66 mi suma es:  2211
67 mi suma es:  2278
68 mi suma es:  2346
69 mi suma es:  2415
70 mi suma es:  2485
71 mi suma es:  2556
72 mi suma es:  2628
73 mi suma es:  2701
74 mi suma es:  2775
75 mi suma es:  2850
76 mi suma es:  2926
77 mi suma es:  3003
78 mi suma es:  3081
79 mi suma es:  3160
80 mi suma es:  3240
81 mi suma es:  3321
82 mi suma es:  3403
83 mi suma es:  3486
84 mi suma es:  3570
85 mi suma es:  3655
86 mi suma es:  3741
87 mi suma es:  3828
88 mi suma es:  3916
89 mi suma es:  4005
90 mi suma es:  4095
91 mi suma es:  4186
92 mi suma es:  4278
93 mi suma es:  4371
94 mi suma es:  4465
95 mi suma es:  4560
96 mi suma es:  4656
97 mi suma es:  4753
98 mi suma es:  4851
99 mi suma es:  4950
100 mi suma es:  5050
la suma total es 5050

In [33]:
# sumar todos los números desde 1 hasta el n
n=100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
suma = (n**2+n)/2
suma

5e+183

In [36]:
for i in range (3,10):
  print(i)

3
4
5
6
7
8
9

In [38]:
for i in range (11,5,-1):
  print(i)

11
10
9
8
7
6

In [40]:
#sumar los números al cuadrado desde 5 hasta n
suma=0
n=10
for i in range (5, n+1):
  suma=suma+(i**2)
  print(suma)
print(suma)

25
61
110
174
255
355
355

In [41]:
n=10
L=[]
for i in range(n+1):
  L.append(i**2)
print(L)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [46]:
v= [3,2,4]
w = [1,0,2]
# v+w = [4,2,6]
res=[]
for i in range (len(v)):
  res.append(v[i]+w[i])
  print(i, "suma=", v[i]+w[i])
print(res)

0 suma= 4
1 suma= 2
2 suma= 6
[4, 2, 6]

In [55]:
L=[[1,2,3],[4,5,6],[7,8,9]]
L2=[]
for i in L:
  for j in i:
    L2.append(j)
    print(L2)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]