# Tuplas
* Son más ràpidas y ocupan menos memoria que las listas
* No se pueden modificar => seguridad

In [ ]:
t = (1,2,3,4)
# con parentesis
# es no mutable

In [ ]:
t[3]=2

TypeError: 'tuple' object does not support item assignment

In [ ]:
t+t # las listas y las tuplas se pueden sumar con otras listas/tuplas

(1, 2, 3, 4, 1, 2, 3, 4)

In [ ]:
2*t # las listas y las tuplas se pueden multiplicar por un numero

(1, 2, 3, 4, 1, 2, 3, 4)

In [ ]:
t=2*t #no se modifica la tupla, aqui se sobreescrive
# primero se ejecuta 2*t y se asigna a una 'nueva' variable t

In [ ]:
[1,2,3]+(3,4,5)

TypeError: can only concatenate list (not "tuple") to list

In [ ]:
tup[0]

(1, 2)

In [ ]:
len(tup)

8

In [ ]:
# slicing
tup[1:3:2]

(2,)

In [ ]:
tup[-1]

4

In [ ]:
tup[1:-1]

(2, 3, 4, 1, 2, 3)

In [ ]:
tup.count(1)

2

In [ ]:
tup

(1, 2, 3, 4, 1, 2, 3, 4)

In [ ]:
tup.index(2,3,8) #index(numero_a_buscar, indice_start, indice_final_busqueda)

5

In [ ]:
l=[1,2,3,4]

In [ ]:
l.index(2)
# objetos tienen metodos
# OBJ.

1

In [ ]:
# Ejercicio: dada una tupla con valores repetidos,
# devolved una lista con todos los indices donde aparece el valor X

In [ ]:
t=(1,2,3,2,3,2,4,2)
# 2?
# (1, 3, 5, 7)

In [ ]:
# L=[], append

In [ ]:
# enumerate?

resultado [0, 2, 4, 6, 8]

In [ ]:
t=(2,1,2,3,2,3,2,4,2)
# ahora haciendo menos iteraciones y utilizando index

[0, 2, 4, 6, 8]

In [ ]:
sorted(tup) # la convierte en lista

[1, 1, 2, 2, 3, 3, 4, 4]

In [ ]:
tuple([1,2])

(1, 2)

In [ ]:
a=tuple("amigo")

In [ ]:
a

('a', 'm', 'i', 'g', 'o')

# Sets

In [ ]:
s={1,2,3}
print(s)
s={1,2,3,1,2,3}
print(s)

{1, 2, 3}
{1, 2, 3}

In [ ]:
type(s)

set

In [ ]:
s={} # asi no se declara un set vacio
type(s) # cuidado! s={} es un diccionario

dict

In [ ]:
s=set()# diccionario vacio
type(s)

set

In [ ]:
s

{}

In [ ]:
a={1,2,3}
b={3,4,5}

# los sets no se pueden sumar
a+b

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [ ]:
# add añade elementos al set y lo modifica internamente
# los sets son mutables? Sí
a={1,2,3}
print(id(a)) # id() nos devolvia la posición de memoria
a.add(5)
print(id(a))

3015972275584
3015972275584

In [ ]:
a

{1, 2, 3, 5}

In [ ]:
# remove quita internamente
a.remove(5)

In [ ]:
# intento quitar 5 pero me da error
a.remove(5)

KeyError: 5

In [ ]:
# discard==remove pero no da error
a.discard(5)
# que preferimos que me salga una error si no està o que no me diga nada?

In [ ]:
s={1,[1,2]}
# no puedo poner listas
# porque? Listas son mutables => no hashable

In [ ]:
s={1,(1,2)} # las tuplas si, porque son inmutables

In [ ]:
[1,2,3,4].pop(2)

3

In [ ]:
# pop devuelve un elemento y lo borra del set, internamente
b={6,3,4,5, "a", (1,2),9,8}
print(b)
elem=b.pop()
elem

{(1, 2), 3, 4, 5, 6, 8, 9, 'a'}

(1, 2)

In [ ]:
elem

3

In [ ]:
a = {1,2,3}
b = {2,4,6}
# union
print(a | b) # or
b.union(a) # devuelve, no modifica internamente

{1, 2, 3, 4, 6}

In [ ]:
b

{2, 4, 6}

In [ ]:
a

{1, 2, 3}

In [ ]:
# interseccion
print(a & b) # and
a.intersection(b)

{2}

{2}

In [ ]:
a = {1,2,3}
b = {2,4,6}
# difference = elementos de a que no estan en b
a-b

{1, 3}

In [ ]:
a.difference(b)

{1, 3}

In [ ]:
a = {1,2,3}
b = {2,4,6}
# symmetric difference, lo contrario a la interseccion
a^b

{1, 3, 4, 6}

![image.png](attachment:image.png)

In [ ]:
a.symmetric_difference(b)

{1, 3, 4, 6}

In [ ]:
# no son conjuntos que no tengan interseccion
a={1,2,3}
b={3,4}
a.isdisjoint(b) # una funcion que retorna True si no tienen interseccion

False

In [ ]:
# 2 es un subconjunto de b
b={1,2,3,4}
{2,3}.issubset(b)

True

In [ ]:
# si b contiene al conjunto {2}
b.issuperset({1,3}) # b contiene al subconjunto {2}

False

In [ ]:
a = {1,2,3}
b = {2,4,6}
a.update(b)

In [ ]:
a

{1, 2, 3, 4, 6}

In [ ]:
# a= a-b = a.difference(b)
a.difference_update(b) # retorna nada a=a-b
a

{1, 3}

In [ ]:
# a = a & b
a = {1,2,3}
b = {2,4,6}
a.intersection_update(b) # a se actualiza internamente con la intersección con b

In [ ]:
a

{2}

In [ ]:
b

{2, 4, 6}

In [ ]:
# a = a ^ b
a = {1,2,3}
b = {2,4,6}
a.symmetric_difference_update(b)

In [ ]:

print(a)

{1, 3, 4, 6}

In [ ]:
a.clear()

In [ ]:
a

set()

In [ ]:
a={}
a=set()
print(type(a)) # lo pone como dict

<class 'set'>

In [ ]:
for i in {1,2,37}:
    print(i)

1
2
37

In [ ]:
set((1,1,2,3))

{1, 2, 3}

In [ ]:
s={[1,2],[3]} # tienen que ser inmutables

TypeError: unhashable type: 'list'

In [ ]:
s={(1,2,3),(2,3),(2,3)}
s

{(1, 2, 3), (2, 3)}

In [ ]:
for i in s:
    print(i)

(2, 3)
(1, 2, 3)

In [ ]:
tuple(s)

((2, 3), (1, 2, 3))

# Diccionarios

In [ ]:
a={"clave": 1,
   "num": 1} # {key: value}


d=dict([(1,[1,2,3]),
        ("key","valor")])
# no se puede sumar diccionarios
d

{1: [1, 2, 3], 'key': 'valor'}

In [ ]:
dict([[1,2],[9,2]])

{1: 2, 9: 2}

In [ ]:
# diccionario vacio
d = {}

In [ ]:
type(d)

dict

In [ ]:
d={"Miquel":"Profe",
   "Pablo":"Alumno",
   "Natalia":"Alumna",
   "Viviana":"Alumna",
   "Adrian":"Alumno"}

'Alumno'

In [ ]:
d["Adrian"]

'Alumno'

In [ ]:
# acceder a la información mediante las keys
d["Miquel"]

'Profe'

In [ ]:
d[1]

KeyError: 1

In [ ]:
# get también accede pero no da error
b=d.get(1)

In [ ]:
b is None

True

In [ ]:
d["key"]

KeyError: 'key'

In [ ]:
# podemos declarar un nuevo par de forma sencilla
d["key"] = "valor"
d["key1"] = 99999

In [ ]:
d[0]=1 # declaro el nuevo par

In [ ]:
d={}

In [ ]:
d[0]+=1
# d[0] = d[0] + 1
d

{0: 2}

In [ ]:
if 0 in d: # si ya está, le sumo 1
    d[0]+=1
else:
    d[0] =1 # si no está, declaro la key 0 con el valor 1

In [ ]:
d

{0: 5}

In [ ]:
d["new_key"]=1 # estoy declarando una nueva posicion de memoria con su valor
d

{'Miquel': 'Profe',
 'Pablo': 'Alumno',
 'Natalia': 'Alumna',
 'Viviana': 'Alumna',
 'Adrian': 'Alumno',
 'key': 'valor',
 'key1': 99999,
 'new_key': 1}

In [ ]:
d[1] = [1,2,3,4,5]
# key tiene que ser inmutable
# el valor puede ser mutable

In [ ]:
d

{'Miquel': 'Profe',
 'Pablo': 'Alumno',
 'Natalia': 'Alumna',
 'Viviana': 'Alumna',
 'Adrian': 'Alumno',
 'key': 'valor',
 'key1': 99999,
 'new_key': 1,
 1: [1, 2, 3, 4, 5]}

### Ejercicio: Haced un diccionario con datos de una persona
Primero hacerlo todo de golpe, declarando el diccionario con todos los datos, después volved a crearlo pero primero declarandolo vacío y llenandolo poco a poco

In [ ]:
# nombre, apellido, edad, dni, dirección

In [ ]:
d={'nombre': 'Miquel',
  'apellido':'porcar',
  'dni':20000000000000,
  'edad':10}

In [ ]:
d={}
d['nombre']='Miquel'
d['apellido']='porcar'

In [ ]:
d["[1,2,3]"]=1

#### Update

In [ ]:
d.update({(1,2):"999999", "apellido":[1,2,3]}) # d.update({dict})

In [ ]:
d

{'nombre': 'Miquel',
 'apellido': [1, 2, 3],
 '[1,2,3]': 1,
 (1, 2): '999999',
 'key': [1, 2, 3]}

In [ ]:
# No se puede tener objetos mutables como keys

In [ ]:
d.update({[1,2]:"adios"})

TypeError: unhashable type: 'list'

In [ ]:
d

{'nombre': 'Miquel',
 'apellido': [1, 2, 3],
 '[1,2,3]': 1,
 (1, 2): '999999',
 'key': [1, 2, 3]}

In [ ]:
del d[(1,2)] # accedo a la posicion (1,2) del diccionario y la borro

KeyError: (1, 2)

In [ ]:
d['key']=1

In [ ]:
d['key']

In [ ]:
d['key']=d['key']+1
d['key']

In [ ]:
# pop borra el elemento con clave "key", y lo devuelve, un metodo mas de diccionario
a=d.pop('key')

KeyError: 'key'

In [ ]:
# popitem
d=dict([(1,"valor"),("key",2),("key2",4),("key1",3)])
print(d)
d.popitem() # elimina uno internamente y te lo devuelve

{1: 'valor', 'key': 2, 'key2': 4, 'key1': 3}

('key1', 3)

In [ ]:
d.popitem()

KeyError: 'popitem(): dictionary is empty'

In [ ]:
d.items() # que nos devuelve un "tipo" de lista que se podrá iterar

dict_items([(1, 'valor'), ('key', 2), ('key2', 4)])

In [ ]:
for l in d.items(): # d.items() no se puede acceder a las posiciones pero si iterar
    print(l)

(1, 'valor')
('key', 2)
('key2', 4)

In [ ]:
# d.items() devuelve un generador/iterador que tiene el par (key, value) como tupla

In [ ]:
# .keys()
for key in d.keys(): # == key in d:
    print(key, "->", d[key])

1 -> valor
key -> 2
key2 -> 4

In [ ]:
d[1]

'valor'

In [ ]:
# .values()
d.values()

dict_values(['valor', 2, 4])

In [ ]:
for value in d.values():
    print(value)

valor
2
4

In [ ]:
1 in d
1 in d.keys()
# veo si está el valor
# es lo mismo

True

#### Ejercicio
crear un diccionario de los cuadrados del 1 al n

In [ ]:
d={}

#### Dada una lista. Crear un diccionario con cada numero de la lista y las veces que aparece

In [26]:
L=[1,2,2,3,1,4,3,5,7]

#{1:2, 2:2; 3:2, .....}

d={}
for elem in L:
  if elem in d:
    d[elem]+=1
  else:
    d[elem]=1

print(d)

{1: 2, 2: 2, 3: 2, 4: 1, 5: 1, 7: 1}

In [14]:
d={ "nombre": "carlos", "Edad": "44", "DNI/NIE": "Y6234897L"}
d
print(d["nombre"])
print(d.get("Edad"))

d["Edad"]=45
print(d.get("Edad"))

d["Ciudad"]="Madrid"
d

carlos
44
45

{'nombre': 'carlos', 'Edad': 45, 'DNI/NIE': 'Y6234897L', 'Ciudad': 'Madrid'}

In [20]:
d
for x in d:
  print(d[x])

for x in d:
  print(x)

carlos
45
Y6234897L
Madrid
nombre
Edad
DNI/NIE
Ciudad

In [22]:
for x in d:
  print(x,d[x])

nombre carlos
Edad 45
DNI/NIE Y6234897L
Ciudad Madrid

In [24]:
for x, y in d.items():
  print(x,y)

nombre carlos
Edad 45
DNI/NIE Y6234897L
Ciudad Madrid

In [25]:
v1={"ID":"1", "A":"asuhasui"}
v2={"ID":"1", "A":"asuhasui"}

v= {"CLAVE1": v1, "CLAVE2": v2}
print(v)

{'CLAVE1': {'ID': '1', 'A': 'asuhasui'}, 'CLAVE2': {'ID': '1', 'A': 'asuhasui'}}

In [ ]:
d

{1: 2, 2: 2, 3: 2, 4: 1, 5: 1, 7: 1}

##### Ejercicio: tenemos dos dados de 6 caras, contar cuantas veces puede aparecer el valor de la suma de los dos dados

In [ ]:
d={}

{2: 1, 3: 2, 4: 3, 5: 4, 6: 5, 7: 6, 8: 5, 9: 4, 10: 3, 11: 2, 12: 1}

### Diccionarios anidados

In [ ]:
datos_alejandro={"dni":2039,"nombre":"Alejandro", "ciudad": "Barcelona", "direccion":"Calle falsa"}
datos_dani={"dni":2060,"nombre":"Dani", "ciudad": "Barcelona"}
datos_cristina={"dni":2066,"nombre":"Cristina", "ciudad": "Barcelona"}

datos_alumnos={1:datos_alejandro,
               2:datos_dani,
               3:datos_cristina}

In [ ]:
datos_alumnos[2]['direccion']

KeyError: 'direccion'

In [ ]:
# haced un código que itere por un diccionario con diccionarios anidados y imprima las keys y los valores

In [ ]:
datos_alumnos

{1: {'dni': 0,
  'nombre': 'Alejandro',
  'ciudad': 'Barcelona',
  'direccion': 'Calle falsa'},
 2: {'dni': 0, 'nombre': 'Dani', 'ciudad': 'Barcelona'},
 3: {'dni': 0, 'nombre': 'Cristina', 'ciudad': 'Barcelona'}}