### Practica Tuplas, Sets y Diccionarios

In [17]:
#Importamos la librería random y utilizamos la función randint
import random
for i in range(10):
    print(random.randint(1,10))

10
10
1
1
3
9
4
1
9
1

### Tuplas

#### Ejercicio 1

- Crea una tupla utilizando la función range(), que tenga un rango del 11 al 19
    - Ejemplo: tupla = tuple(range(3)).

In [54]:
tupla = tuple(range(11,19))
tupla

(11, 12, 13, 14, 15, 16, 17, 18)

- Utiliza la tupla anterior y conviertela a una lista utilizando una lista vacia y llenandola con un bucle.

In [55]:
lista=[]
for i in tupla:
    lista.append(i)
lista

[11, 12, 13, 14, 15, 16, 17, 18]

- Ordena de mayor a menor la lista anterior.

In [58]:
lista.sort(reverse=True)
lista

[18, 17, 16, 15, 14, 13, 12, 11]

- Convierte la lista anterior a tupla y ordenala de menor a mayor.

In [61]:
tupla  = tuple(lista)
print(tupla)
tupla = sorted(tupla)
print(tupla)
tuple(tupla)

(18, 17, 16, 15, 14, 13, 12, 11)
[11, 12, 13, 14, 15, 16, 17, 18]

(11, 12, 13, 14, 15, 16, 17, 18)

In [62]:
#Ejemplo 2

tupla=tuple(lista)
tupla[::-1]

(11, 12, 13, 14, 15, 16, 17, 18)

- ¿Qué tipo de dato es el rusultado de ordenar la tupla anterior?

In [63]:
type(tupla)

tuple

#### Ejercicio 2

- Dada la siguiente frase = "Había una vez en una galaxia lejana", conviertela en tupla, ordenala y manten la tupla (¡Ojo!, el resultado final no debe de ser lista).

In [5]:
frase = "Había una vez en una galaxia lejana"
tupla = tuple(frase)
print(tupla)
tupla= sorted(tupla)
print(tupla)
tupla= tuple(tupla)
print(tupla)

('H', 'a', 'b', 'í', 'a', ' ', 'u', 'n', 'a', ' ', 'v', 'e', 'z', ' ', 'e', 'n', ' ', 'u', 'n', 'a', ' ', 'g', 'a', 'l', 'a', 'x', 'i', 'a', ' ', 'l', 'e', 'j', 'a', 'n', 'a')
[' ', ' ', ' ', ' ', ' ', ' ', 'H', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'b', 'e', 'e', 'e', 'g', 'i', 'j', 'l', 'l', 'n', 'n', 'n', 'n', 'u', 'u', 'v', 'x', 'z', 'í']
(' ', ' ', ' ', ' ', ' ', ' ', 'H', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'b', 'e', 'e', 'e', 'g', 'i', 'j', 'l', 'l', 'n', 'n', 'n', 'n', 'u', 'u', 'v', 'x', 'z', 'í')

- Del resultado anterior, muestra cuantas veces aparece cada vocal.
    - Utiliza un bucle **for** que recorra la siguiente tupla: ("a","e","i","o","u")

In [9]:
tupla2=("a","e","i","o","u")
for i in tupla2:
    print(i, tupla.count(i))

a 9
e 3
i 1
o 0
u 2

#### Ejercicio 3

- Dada la siguiente tupla: (9,8,7,5,"a",3,6,5), encuentra la forma para eliminar la letra "a".

In [66]:
#solución 2
tupla = (9,8,7,5,"a",3,6,5)
lista = list(tupla)
lista.remove("a")
tupla = tuple(lista)
tupla

(9, 8, 7, 5, 3, 6, 5)

#### Ejercicio 4

- Pregunta a un usuario que ingrese 5 elementos diferentes y convierte estos elementos a una tupla, puede ser una palabra o un número.

In [14]:
lista = []
for i in range(5):
    x = input("Ingresar un número o palabra: ")
    lista.append(x)
tupla = tuple(lista)
print("la tupla es: ", tupla)

Ingresar un número o palabra:  1
Ingresar un número o palabra:  2
Ingresar un número o palabra:  3
Ingresar un número o palabra:  4
Ingresar un número o palabra:  5

la tupla es:  ('1', '2', '3', '4', '5')

#### Ejercicio 5

- Dada la siguiente lista de tuplas: [(10, 20, 40), (40, 50, 60), (70, 80, 90)], elimina el último elemento de cada tupla dentro de la lista.

In [43]:
lista = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
for x,tupla in enumerate(lista):
    sublista = list(tupla)
    sublista.pop(-1)
    lista[x] = tuple(sublista)
lista

[(10, 20), (40, 50), (70, 80)]

### Sets

#### Ejercicio 1

- Pide al usuario que ingrese 3 empresas de tecnología, estos elementos agregalos al siguiente set: {"Facebook","Google","Apple"}
- Verifica que no se repita ninguna empresa y dile al usuario que no se repitio ninguna empresa.

In [70]:
set1 = {"Facebook","Google","Apple"}
for i in range(3):
    x = input("Ingresa el nombre de una empresa: ")
    set1.add(x)

if len(set1)==6:
    print("\n No se repite ninguna empresa")

Ingresa el nombre de una empresa:  Facebook
Ingresa el nombre de una empresa:  Google
Ingresa el nombre de una empresa:  IBM

- Repite el ejercicio anterior pero ahora imprime las empresas que se repiten en caso de que existiera uno o más que se repitan

In [2]:
set1 = {"Facebook","Google","Apple"}
lista = []
for i in range(3):
    x = input("Ingresa el nombre de una empresa: ")
    items1 = len(set1)
    set1.add(x)
    items2 = len(set1)
    if items1 == items2:
        lista.append(x)

if len(lista)>0:
    print("Las empresas que se repiten son: ", set(lista))

Ingresa el nombre de una empresa: Google
Ingresa el nombre de una empresa: Google
Ingresa el nombre de una empresa: Google
Las empresas que se repiten son:  {'Google'}

#### Ejercicio 2 (EXTRA)

- Dado una lista que ingrese el usuario de numeros del 1 al 10, (el número de elementos que va agregar el usuario debe de ser de 1 a 10 utilizando la función randint()) aplica las siguientes operaciones: union e intesección de la lista que ingreso el usuario con el siguiente set: (8,5,3,2,1,7)

In [72]:
num_elementos = random.randint(1,10)
print("El total de números a ingresar son: ", num_elementos)
lista_usuario=[]
for i in range(num_elementos):
      lista_usuario.append(int(input("Ingresa un número entre el 1 y el 10")))
        
print("La union con (8,5,3,2,1,7) es: ")
print(set(lista_usuario).union({8,5,3,2,1,7}))

print("La intersección con (8,5,3,2,1,7) es: ")
print(set(lista_usuario).intersection({8,5,3,2,1,7}))

El total de números a ingresar son:  6

Ingresa un número entre el 1 y el 10 1
Ingresa un número entre el 1 y el 10 2
Ingresa un número entre el 1 y el 10 3
Ingresa un número entre el 1 y el 10 4
Ingresa un número entre el 1 y el 10 5
Ingresa un número entre el 1 y el 10 6

La union con (8,5,3,2,1,7) es:
{1, 2, 3, 4, 5, 6, 7, 8}
La intersección con (8,5,3,2,1,7) es:
{1, 2, 3, 5}

#### Ejercicio 3

- Utilizando un bucle **for** haz la función intersección de los sets entre dos listas.

In [73]:
lista1 = [1,2,3,4,5]
lista2 = [4,5,6,7,4]
resultado = []
for i in lista1:
    for j in lista2:
        if i == j:
            resultado.append(i)
print(resultado)
resultado = set(resultado)
resultado

[4, 4, 5]

{4, 5}

In [74]:
lista1 = [1,2,3,4,5]
lista2 = [4,5,6,7,4]

set(lista1) & set(lista2)

{4, 5}

#### Ejercicio 4

- Dadas las siguientes frases = "En una galaxia lejana" y "Una galaxia llamadá Via Lactea", haz la intersección de las palabras

In [75]:
frase1 =  "En una galaxia lejana"
frase2 =  "Una galaxia llamadá Via Lactea"
set1 = set(frase1.split(" "))
print(set1)
set2 = set(frase2.split(" "))
print(set2)
set1.intersection(set2)

{'una', 'En', 'galaxia', 'lejana'}
{'Una', 'galaxia', 'Via', 'Lactea', 'llamadá'}

{'galaxia'}

#### Ejercicio 5

- Utilizandp un bucle **for** encuentra la diferencia entre el set1 = {9,8,7,6,5,4,3,2} y el set2 = {9,8,10} y comprueba el resultado utilizando el método difference()

In [76]:
set1 = {9,8,7,6,5,4,3,2}
set2 = {9,8,10}
lista=[]
for i in set1:
    for j in set2:
        if i == j:
            lista.append(i)
for i in lista:
    set1.remove(i)
set1

{2, 3, 4, 5, 6, 7}

In [77]:
set1.difference(set2)

{2, 3, 4, 5, 6, 7}

### Diccionarios

#### Ejercicio 1

- Crea un diccionario de 5 items, preguntando al usuario nombre y edad, los nombres seran las keys y la edad los values.

In [44]:
dic = dict()
for i in range(5):
    dic.update({input("Nombre: "):input("Edad: ")})
print(dic)

Nombre:  ad
Edad:  2
Nombre:  a
Edad:  2
Nombre:  a
Edad:  2
Nombre:  a
Edad:  3
Nombre:  a
Edad:  3

{'ad': '2', 'a': '3'}

#### Ejercicio 2

- Repite el ejercicio anterior pero de la siguiente forma:
- Primero agrega en una lista los nombres y en otra lista las edades y después crea el diccionario a partir de las listas.

In [24]:
nombres=[]
edades=[]

for i in range(5):
    x = input("Ingresar nombre: ")
    y = input("Ingresar edad: ")
    nombres.append(x)
    edades.append(int(y))
    
diccionario = dict()

for x,i in enumerate(nombres):
    diccionario.update({i:edades[x]})
diccionario

Ingresar nombre:  a
Ingresar edad:  1
Ingresar nombre:  b
Ingresar edad:  2
Ingresar nombre:  c
Ingresar edad:  3
Ingresar nombre:  d
Ingresar edad:  4
Ingresar nombre:  e
Ingresar edad:  5

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [79]:
#Utilizando zip

nombre=['Eloy','Jonathan','Sonia','Pedro','Maria']
edad=[28,38,34,28,27]
dict(zip(nombre,edad))

{'Eloy': 28, 'Jonathan': 38, 'Sonia': 34, 'Pedro': 28, 'Maria': 27}

#### Ejercicio 3

- Pide al usuario que ingrese 3 números distintos y guarda esos números como keys y crea los values utilizando la siguiente formula: x:x**2, donde x es la llave.

In [48]:
diccionario=dict()
diccionario["Adrian"] = "hola"
diccionario["Jose"] = "adios"
diccionario["Adrian"] = "1"

diccionario

{'Adrian': '1', 'Jose': 'adios'}

In [49]:
diccionario=dict()
for i in range(3):
    x = int(input("Ingresa un número: "))
    diccionario[x]=x**2
diccionario

Ingresa un número:  1
Ingresa un número:  2
Ingresa un número:  3

{1: 1, 2: 4, 3: 9}

#### Ejercicio 4

- Pide al usuario que ingrese una frase y agrega las palabras como keys y la frecuencia de cada palabra como value en un diccionario. (ver el ejemplo de la presentación)

In [52]:
frase = input("Ingresar frase: ")
frase.split("d")

Ingresar frase:  ada asdasd dasd

['a', 'a as', 'as', ' ', 'as', ' ']

In [53]:
frase = input("Ingresar frase: ")
dic = dict()
for palabra in frase.split():
    if palabra not in dic:
        dic[palabra] = 1
    else:
        dic[palabra]+= 1
dic

Ingresar frase:  hola hola hola

{'hola': 3}

#### Ejercicio 5

- Crea un programa donde las keys son 7 números aleatorios entre el 100 y el 200 y en los values debe de estar la palabra par o impar, si el número es par o impar.

In [54]:
dic = dict()
for i in range(7):
    x = random.randint(100,200)
    dic[x] = "par" if x%2==0 else "impar"
print(dic)

{137: 'impar', 166: 'par', 182: 'par', 157: 'impar', 114: 'par', 196: 'par', 173: 'impar'}

#### Ejercicio 6

- Crea un programa donde las keys son 10 números aleatorios entre el 1 y el 50 y para cada value del diccionario vamos a utilizar la siguiente formula x:1/x

In [55]:
dic = dict()
for i in range(10):
    x = random.randint(1,50)
    dic[x]=1/x
dic

{40: 0.025,
 4: 0.25,
 48: 0.020833333333333332,
 34: 0.029411764705882353,
 28: 0.03571428571428571,
 17: 0.058823529411764705,
 26: 0.038461538461538464}

- Del diccionario anterior invierte los keys por los values

In [57]:
dic.items()

dict_items([(40, 0.025), (4, 0.25), (48, 0.020833333333333332), (34, 0.029411764705882353), (28, 0.03571428571428571), (17, 0.058823529411764705), (26, 0.038461538461538464)])

In [59]:
dic1={}
for i, j in dic.items():
    print(i,"---",j)
    dic1[j]=i 
dic1

{0.025: 40,
 0.25: 4,
 0.020833333333333332: 48,
 0.029411764705882353: 34,
 0.03571428571428571: 28,
 0.058823529411764705: 17,
 0.038461538461538464: 26}

#### Ejercicio 7

- Recurre al ejercicio donde el usuario ingresa 5 nombres y sus edades, y ordena el diccionario por orden alfabetico

In [95]:
diccionario = dict()
for i in range(5):
    x = input("Ingresar nombre: ")
    y = input("Ingresar edad: ")
    diccionario[x]=int(y)
print(diccionario)

Ingresar nombre:  e
Ingresar edad:  1
Ingresar nombre:  u
Ingresar edad:  3
Ingresar nombre:  r
Ingresar edad:  5
Ingresar nombre:  a
Ingresar edad:  8
Ingresar nombre:  y
Ingresar edad:  9

{'e': 1, 'u': 3, 'r': 5, 'a': 8, 'y': 9}

In [96]:
sorted(diccionario.keys())

['a', 'e', 'r', 'u', 'y']

In [97]:
dic2=dict()
for i in sorted(diccionario.keys()):
    dic2[i]=diccionario[i]
print(dic2)

{'a': 8, 'e': 1, 'r': 5, 'u': 3, 'y': 9}

#### Ejercicio 8

- Crea un programa que dados los siguientes diccionarios: d1 = {"a":125,"b":130,"c":150}, d2 = {"e": 10,"b":20,"a":30}, sume los items que tienen la misma key y guarde esas keys con la suma de los values en un nuevo diccionario

In [60]:
d1 = {"a":125,"b":130,"c":150}
d2 = {"e": 10,"b":20,"a":30}
d3 = dict()

keys_comparten = set(d1).intersection(set(d2))
print(keys_comparten)
for i in keys_comparten:
    d3[i] = d1.get(i)+d2.get(i)
d3

{'a', 'b'}

{'a': 155, 'b': 150}

In [100]:
d1 = {"a":125,"b":130,"c":150}
d2 = {"e": 10,"b":20,"a":30}
diccionario ={}

for a in d1:
    if a in d2:
        valor = d1.get(a) + d2.get(a)
        diccionario.update({a:valor})
diccionario

{'a': 155, 'b': 150}

#### Ejercicio 9 (Extra)


lista= [[6, 1, 6, 5, 7, 1, 1, 0],
       [2, 2, 5, 2, 7, 1, 5, 6],
       [5, 8, 9, 8, 4, 2, 8, 3],
       [8, 9, 0, 4, 9, 2, 3, 8],
       [0, 0, 5, 8, 9, 7, 1, 1],
       [7, 6, 8, 0, 3, 0, 9, 6],
       [5, 7, 7, 1, 4, 0, 2, 6],
       [2, 5, 8, 7, 6, 1, 8, 8]]


Crea un diccionario donde las keys sea un número y el value la cantidad de veces que se repite

In [3]:
lista= [[6, 1, 6, 5, 7, 1, 1, 0], 
        [2, 2, 5, 2, 7, 1, 5, 6], 
        [5, 8, 9, 8, 4, 2, 8, 3], 
        [8, 9, 0, 4, 9, 2, 3, 8], 
        [0, 0, 5, 8, 9, 7, 1, 1], 
        [7, 6, 8, 0, 3, 0, 9, 6],
        [5, 7, 7, 1, 4, 0, 2, 6],
        [2, 5, 8, 7, 6, 1, 8, 8]]

In [5]:
d={}
for l in lista:
    for n in l:
        if n not in d.keys():
            d[n]=0
        if n in d.keys():
            d[n]+=1
print(d)

{6: 7, 1: 8, 5: 7, 7: 7, 0: 7, 2: 7, 8: 10, 9: 5, 4: 3, 3: 3}

#### Ejercicio 10 (Extra)

lista =   [[[ 0.28397701, -0.43646728],
        [-0.1669027 , -2.10835303],
        [-0.53268815,  1.24932809]],

       [[-2.39532371, -0.23269955],
        [-0.41365339,  1.16797535],
        [ 0.0385008 ,  1.99137997]],

       [[ 0.17027754,  1.99604395],
        [-1.08631262,  1.87370509],
        [-0.35000334,  0.03590288]],

       [[-1.17436298,  0.38568352],
        [-1.84173533,  0.56881985],
        [-0.94524699, -0.47347674]]]

De la lista anterior obtén un diccionario con el conteo de núm. positivos, núm. negativos

In [6]:
lista = [[[ 0.28397701, -0.43646728], 
          [-0.1669027 , -2.10835303], 
          [-0.53268815, 1.24932809]],
         
         [[-2.39532371, -0.23269955],
        [-0.41365339,  1.16797535],
        [ 0.0385008 ,  1.99137997]],

       [[ 0.17027754,  1.99604395],
        [-1.08631262,  1.87370509],
        [-0.35000334,  0.03590288]],

       [[-1.17436298,  0.38568352],
        [-1.84173533,  0.56881985],
        [-0.94524699, -0.47347674]]]

In [7]:
d={'positivo':0,'negativo':0}
for M in lista:
    for l in M:
        for n in l:
            if n >=  0:
                d['positivo']+=1
            else:
                d['negativo']+=1
d

{'positivo': 11, 'negativo': 13}