# DataSet Graduacion

## Inicio Seteo

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import ConfusionMatrixDisplay
from sklearn.preprocessing import StandardScaler
from sklearn import metrics

In [2]:
train=pd.read_csv("playground-series-s4e6/train.csv")

In [3]:
test = pd.read_csv("playground-series-s4e6/test.csv")
sample = pd.read_csv("playground-series-s4e6/sample_submission.csv")

In [4]:
test_completo = test.merge(right=sample, on="id")

## Primera filtracion

In [5]:
# Tiro la columna id, course en train
train = train.drop(columns=['id','Course'])
test = test.drop(columns=['id','Course'])
test_completo = test_completo.drop(columns=['id','Course'])

In [6]:
X=train.drop(columns=['Target'])
Y=train['Target']

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.33)

In [8]:
# hago el preprocesamiento en el X_train
scaler=StandardScaler()
scaler.fit(X_train)
X_train[:]=scaler.transform(X_train)
X_test[:]=scaler.transform(X_test)

In [9]:
clf=LogisticRegression(max_iter=10000)
clf.fit(X_train,y_train)

LogisticRegression(max_iter=10000)

In [10]:
yhat_train=clf.predict(X_train)
accuracy_score(y_train,yhat_train)

0.8152807849103711

In [11]:
yhat_test=clf.predict(X_test)
accuracy_score(y_test,yhat_test)

0.8127994930893826

## Una vez tengamos un modelo, hay que repetir el preprocesamiento a test (al conjunto que sirve para hacer una submission)

In [12]:
test=pd.read_csv("playground-series-s4e6/test.csv")
submission=pd.read_csv("playground-series-s4e6/sample_submission.csv")

In [13]:
test.head()

,id,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,...,Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP
0,76518,1,1,1,9500,1,1,141.0,1,3,...,0,0,8,0,0,0.000000,0,13.9,-0.3,0.79
1,76519,1,1,1,9238,1,1,128.0,1,1,...,0,0,6,6,6,13.500000,0,11.1,0.6,2.02
2,76520,1,1,1,9238,1,1,118.0,1,1,...,0,0,6,11,5,11.000000,0,15.5,2.8,-4.06
3,76521,1,44,1,9147,1,39,130.0,1,1,...,0,3,8,14,5,11.000000,0,8.9,1.4,3.51
4,76522,1,39,1,9670,1,1,110.0,1,1,...,0,0,6,9,4,10.666667,2,7.6,2.6,0.32

In [14]:
X_submission=test.drop(columns=["id","Course"])

In [15]:
# NO HAGO FIT CON TEST, APLICO LA MISMA TRANSFORMACIÓN
X_submission[:]=scaler.transform(X_submission)
yhat_submission=clf.predict(X_submission)

In [16]:
yhat_submission

array(['Dropout', 'Graduate', 'Graduate', ..., 'Dropout', 'Dropout',
       'Dropout'], dtype=object)

In [18]:
submission.Target=yhat_submission
submission.to_csv("playground-series-s4e6/modelo_simple_08136.csv", index=False)